################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/bin
*/obj
/TestResults
/src/Markdown/marked-up-3.txt
/src/Markdown/marked-down-3.txt
